extends layout
block content
    div(class="container-fluid")
        h1= title
    - let items = results;
    - let o;
        div(class="row")
            each form,item in results
                div(class = "col-sm-2 bg-secondary" onclick=`buy(${item})`) #{form.parrot_color}              
                div(class = "col-sm-2 bg-secondary" onclick=`buy(${item})`) #{form.parrot_breed}                
                div(class = "col-sm-2 bg-secondary" onclick=`buy(${item})`) #{form.parrot_price}
                hr
    script.
        function buy(itemNo)
        {
            alert(`You purchased Item ${itemNo+1}`)
        }